# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

frontend/android-chrome-192x192.png
frontend/android-chrome-512x512.png
frontend/favicon-16x16.png
frontend/favicon-32x32.png
frontend/apple-touch-icon.png
frontend/favicon.ico
frontend/about.txt